# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\goprojects\src\zinx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
